RBGQR_notes_and_docs/.obsidian/app.json
RBGQR_notes_and_docs/.obsidian/appearance.json
RBGQR_notes_and_docs/.obsidian/core-plugins.json
RBGQR_notes_and_docs/.obsidian/graph.json
RBGQR_notes_and_docs/.obsidian/workspace.json
RBGQR_notes_and_docs/.obsidian/plugins
